<script>
    import {Button} from 'sveltestrap';

    // const authUrl = process.env.isProd ? prodBackend : devBackend;

    function login() {
        // window.location.href=authUrl;
        alert("Under construction")
    }


</script>

<h1>Haya - Mappool mappack generator</h1>


<Button color="primary" on:click={login}>Login with osu!</Button>
